* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #b16060;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    font-family: "Poppins", sans-serif;
}

.cabecalho-imagem {
    width: 15%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 19px;
    font-size: 29px;
}

.escola-imagem {
    width: 29%;
}

.escola {
    background-image: linear-gradient(#aca1a1, #ff0000);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo {
    width: 35%;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.escola-titulo {
    font-size: 35px;
    padding: 40px 0;
}

.estudante-imagem{
    width: 18%;
}